@import "../../Styles/mixin";

.hexagon_polygon {
  position: relative;

  @include respond-to-large {
    max-width: 780px;
    margin: 0 auto;
  }
  @include respond-to-medium {
    max-width: 768px;
    margin: 0 auto;
  }
  @include respond-to-small {
    max-width: 460px;
    margin: 0 auto;
    @include flexbox(center, center);
  }
  .hexagon {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin-top: 60px;
    position: relative;

    .slider {
      width: 800px;
      width: 100%;
      display: inline-block;
      border: none;
      img {
        cursor: pointer;
        transition: 0.3s;
      }
      img:hover {
        transform: scale(0.9);
      }
    }
    .scroll-wrapper {
      animation: 20s slide infinite;
    }
  }
  .polygon_container {
    // visibility: hidden;
    @include respond-to-extra-large {
      max-width: 1100px;
    }
    @include respond-to-large {
      max-width: 768px;
    }
    @include respond-to-medium {
      max-width: 700px;
    }
    @include respond-to-small {
      // @include flexbox(center, center);
      // width: 460px;
      // height: 1000vh;
      // position: fixed;
      // top: 0;
      // left: 0;
      // z-index: 999999;
      // height: 116px;
      // margin: 0 auto;
    }

    polygon {
      //   @include respond-to-small {
      //     @include flexbox(center, center);
      //     width: 303px;
      //     height: 499px;
      //   }
      .avatar {
        // @include respond-to-small {
        //   width: 1000px;
        //   height: 1000px;
        // }
      }
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
