@import "../../Styles/mixin";

header {
  @include respond-to-extra-large {
    max-width: 1100px;
  }
  @include respond-to-large {
    max-width: 768px;
  }
  @include respond-to-medium {
    max-width: 700px;
  }
  @include respond-to-small {
    max-width: 460px;
    height: 116px;
  }
  .margin {
    height: 80px;
    width: 100%;
    @include respond-to-extra-large {
      max-width: 1100px;
    }
    @include respond-to-large {
      max-width: 768px;
    }
    @include respond-to-medium {
      max-width: 700px;
    }
    @include respond-to-small {
      max-width: 470px;
      background: white;
      display: none;
    }
  }
  .header-opened_menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 25px 0 25px;
    z-index: 10;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    @include respond-to-small {
      position: sticky;
      // overflow: hidden;
      // white-space: nowrap;
      background: rgb(255, 255, 255);
      // height: 100%;
      // z-index: 9999;
    }

    @include respond-to-small {
      width: 460px;
    }
    .logo {
      @include flexbox(space-between, center);
      cursor: pointer;
      section:nth-child(1) {
        @include flexbox(center, center);
        gap: 15px;
        img {
          width: 60px;
          height: 60px;
        }
      }
      section:nth-child(2) {
        cursor: pointer;
        img {
          cursor: pointer;
          border-radius: 50%;
          transition: 0.2s;
          border: 1px;
          width: 45px;
          height: 45px;
        }
        img:hover {
          border: 1px solid rgb(142, 53, 255);
        }
      }
      h1 {
        color: rgb(25, 26, 38);
        font-family: Roboto Flex;
        font-size: 30px;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: -1%;
        text-align: center;
        @include respond-to-small {
          display: none;
        }
      }
    }
    .menu-header {
      @include flexbox(flex-start, flex-start);
      ul {
        @include flexbox(space-between, flex-start);
        // height: 143px;
        @include respond-to-small {
          // @include flexbox(space-between, center);
          flex-direction: column;
        }
        section {
          @include flexbox(center, center);
          border-radius: 99999px;
          width: 243.2px;
          height: 63px;
          width: 243.2px;
          height: 63px;
          transition: 0.5s;
          @include respond-to-small {
            @include flexbox(flex-start, center);
            padding-left: 15px;
          }
        }
        section:hover {
          background: rgba(207, 214, 213, 0.37);
        }
        section:hover li {
          color: rgb(142, 53, 255);
        }

        li {
          color: rgb(25, 38, 26);
          font-family: Roboto Flex;
          font-size: 30px;
          font-weight: 600;
          line-height: 100%;
          letter-spacing: -1%;
          text-align: left;
          text-transform: uppercase;
          cursor: pointer;
          position: relative;
          z-index: 9999;
          @include flexbox(center, center);
          transition: 0.5s;
          @include respond-to-small {
            color: rgb(25, 26, 38);
            font-family: Roboto Flex;
            font-size: 20px;
            font-weight: 800;
            line-height: 100%;
            letter-spacing: -1%;
            text-align: left;
            text-transform: uppercase;
          }
        }
        li::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 2px solid black;
          transition: 0.5s;
        }
        li:hover::before {
          width: 0;
          border-bottom: 2px solid rgb(142, 53, 255);
        }
      }
    }
    .left_categories {
      @include flexbox(flex-start, flex-start);
      flex-direction: column;
      gap: 25px;
      display: none;
      @include respond-to-small {
        display: block;
      }
      div {
        @include flexbox(flex-start, flex-start);
        flex-direction: column;
        gap: 20px;
        section {
          width: 290px;
          height: 48px;
          // padding-left: 20px;
          @include flexbox(flex-start, center);
          gap: 20px;
          cursor: pointer;
          transition: 0.2s;
          h1 {
            color: rgb(139, 142, 154);
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: -1px;
            letter-spacing: -1%;
            text-align: left;
          }
        }
        section:hover {
          border-radius: 99999px;
          background: rgb(245, 248, 250);
        }
      }
      .message {
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -1%;
        text-align: left;
        cursor: pointer;
        background: linear-gradient(
          to right,
          rgb(243, 109, 255),
          rgb(135, 69, 254),
          rgb(23, 186, 229)
        );
        // -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .first_div .more:hover + .modal_user {
        visibility: visible;
      }
      .first_div .modal_user:hover {
        visibility: visible;
      }
      .first_div {
        position: relative;

        .modal_user {
          position: absolute;
          @include flexbox(space-evenly, flex-start);
          flex-direction: column;
          background: white;
          border: 1px solid rgb(139, 142, 154);
          top: 190px;
          left: 25px;
          width: 221px;
          border-radius: 14px;
          padding: 10px 10px;
          visibility: hidden;
          // transition: .3s;
          // height: 121px;
          div {
            color: black;
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -1%;
            text-align: left;
            width: 100%;
            height: 45px;
            @include flexbox(flex-start, center);
            padding-left: 15px;
            transition: 0.2s;
            cursor: pointer;
          }
          .check-out {
            color: red;
          }
          div:hover {
            background: rgb(245, 248, 250);
          }
        }
      }
    }
  }

  .header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    height: 80px;
    // width: 1440px;
    padding: 0 50px 0 50px;
    margin: 0 auto;

    @include flexbox(space-between, center);

    @include respond-to-large {
      max-width: 780px;
      @include flexbox(center, center);
    }
    @include respond-to-medium {
      max-width: 768px;
      @include flexbox(center, center);
    }
    @include respond-to-small {
      position: relative;
      top: 0;
      position: statiac;
      max-width: 435px;
      margin: 0 auto;
    }
    .menuBtn {
      display: none;

      @include respond-to-small {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
    .logo-header {
      @include flexbox(space-between, center);
      width: 380px;
      height: 48px;
      .logo {
        @include flexbox(space-between, center);
        gap: 10px;
        border-right: 1px solid rgb(222, 227, 232);
        padding-right: 20px;
        cursor: pointer;

        @include respond-to-small {
          margin-left: 25px;
        }
        img {
          width: 60px;
          height: 60px;
          @include respond-to-small {
            width: 41.67px;
            height: 41.67px;
          }
        }
        h1 {
          font-family: Roboto Flex;
          font-size: 30px;
          font-weight: 800;
          line-height: 120%;
          letter-spacing: -1%;
          @include respond-to-small {
            display: none;
          }
        }
      }
      .dropdown {
        box-sizing: border-box;
        border: 1px solid rgb(222, 227, 232);
        border-radius: 99999px;
        background: rgb(255, 255, 255);
        width: 135px;
        height: 48px;
        text-align: center;
        @include flexbox(center, center);

        select {
          color: rgb(25, 26, 38);
          font-family: Inter;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: -1%;
          text-align: center;
          text-transform: uppercase;
          option {
            color: rgb(25, 26, 38);
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -1%;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }

      .dropdown {
        @include flexbox(space-between, center);
        gap: 20px;
        position: relative;

        @include respond-to-small {
          display: none;
        }
        section {
          transition: 0.3s;
          cursor: pointer;
          img {
            transition: 0.5s;
          }
        }
        section:hover img {
          transform: rotate(180deg);
        }
        .dropdown1 {
          @include flexbox(space-evenly, flex-start);
          flex-direction: column;
          gap: 25px;
          z-index: 99;
          padding: 10px 0 10px;
          position: absolute;
          width: 260px;
          max-height: 260px;
          border-radius: 14px 0 0 14px;
          overflow-x: hidden;
          white-space: nowrap;
          // height: 100px;
          background: rgb(255, 255, 255);
          border: 1px solid rgb(222, 227, 232);
          top: 62px;
          section {
            cursor: pointer;
            width: 100%;
            height: 45px;
            padding: 15px 20px 15px 26px;
            @include flexbox(flex-start, center);
            transition: 0.3s;
            cursor: pointer;
          }
          section:hover {
            background: radial-gradient(
              115% 168% at 50% -52%,
              rgb(243, 109, 255),
              rgb(135, 69, 254) 60.5%,
              rgb(23, 186, 229) 100%
            );

            color: white;
          }
        }
        .dropdown2 {
          padding: 10px 0 10px 0;
          @include flexbox(space-evenly, flex-start);
          flex-direction: column;
          gap: 25px;
          z-index: 99;
          position: absolute;
          width: 130px;
          border-radius: 14px;
          // height: 100px;
          background: rgb(255, 255, 255);
          border: 1px solid rgb(222, 227, 232);
          top: 55px;
          left: 258px;
          section {
            width: 100%;
            height: 45px;
            padding: 15px 20px 15px 26px;
            @include flexbox(flex-start, center);
            transition: 0.3s;
            cursor: pointer;
          }
          section:hover {
            background: radial-gradient(
              115% 168% at 50% -52%,
              rgb(243, 109, 255),
              rgb(135, 69, 254) 60.5%,
              rgb(23, 186, 229) 100%
            );
            color: white;
          }
        }
        .popular {
          @include flexbox(center, center);
          gap: 10px;
          box-sizing: border-box;
          border: 1px solid rgb(222, 227, 232);
          border-radius: 99999px;
          background: rgb(255, 255, 255);
          width: 235px;
          height: 48px;
          padding: 4px 16px 4px 20px;
        }
        .tip {
          @include flexbox(center, center);
          gap: 10px;
          box-sizing: border-box;
          border: 1px solid rgb(222, 227, 232);
          border-radius: 99999px;

          background: rgb(255, 255, 255);
          width: 95px;
          height: 48px;
        }
      }
    }
    .search-input {
      position: relative;
      // display: none;

      @include respond-to-small {
        position: absolute;
        width: 343px;
        top: 65px;
        right: 75px;
      }
      img {
        position: absolute;
        left: 20px;
        top: 11px;
      }
      input {
        border-radius: 99999px;
        background: rgb(245, 248, 250);
        width: 400px;
        height: 48px;
        padding: 0 50px 0 60px;
      }
    }
    .burger-menu {
      @include flexbox(space-between, center);
      width: 417px;
      height: 48px;

      @include respond-to-small {
        display: none;
      }
      .login {
        box-sizing: border-box;
        border: 1px solid rgb(222, 227, 232);
        border-radius: 99999px;
        background: rgb(255, 255, 255);
        width: 103px;
        height: 48px;
        color: rgb(25, 26, 38);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -1%;
        text-align: center;
        text-transform: uppercase;
        transition: 0.3s;
      }
      .login:hover {
        border: 1px solid rgb(135, 69, 254);
      }
      .container-register_btn {
        @include flexbox(center, center);
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 99999px;
        background: radial-gradient(
          115% 168% at 50% -52%,
          rgb(243, 109, 255),
          rgb(135, 69, 254) 60.5%,
          rgb(23, 186, 229) 100%
        );
        width: 234px;
        height: 48px;
        transition: 0.3s;
        .register {
          box-sizing: border-box;
          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 99999px;
          border: none;
          background: none;
          width: 224px;
          height: 38px;
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: -1%;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
        }
      }
      .container-register_btn:hover .register {
        border: 1px solid white;
      }
      img {
        cursor: pointer;
      }
    }

    .start_btn {
      @include flexbox(center, center);
      display: none;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 99999px;
      background: radial-gradient(
        115% 168% at 50% -52%,
        rgb(243, 109, 255),
        rgb(135, 69, 254) 60.5%,
        rgb(23, 186, 229) 100%
      );
      width: 95px;
      height: 40px;

      @include respond-to-small {
        display: block;
      }
      .register {
        width: 85px;
        height: 30px;
        @include flexbox(center, center);
        border-radius: 99999px;
        background: none;
        color: white;
        transition: 0.3s;
      }
    }
    .start_btn:hover .register {
      border: 1px solid white;
    }
    select {
      width: 70px;
      height: 30px;
      option {
        text-align: center;
      }
      .img {
        color: black;
      }
    }
  }
}
