@import "../../Styles/mixin";

.banner {
  width: 100%;
  height: 720px;
  background-image: url("../../Assets/image/PATTERN\ BACK.png");
  object-fit: cover;
  position: relative;
  overflow: hidden; 

  @include respond-to-large {
    max-width: 780px;
    margin: 0 auto;
  }
  @include respond-to-medium {
    max-width: 768px;
    margin: 0 auto;
  }
  @include respond-to-small {
    max-width: 460px;
    margin: 0 auto;
    @include flexbox(center, center);
  }

  .animation {
    position: absolute;
    width: 300px;
    height: 250px;
    z-index: 3;
    &:first-child {
      top: -600px;
      left: 300px;
      animation: rain 20s linear infinite;
      animation-delay: 10s;
      // z-index: 0;
    }
    &:nth-child(2) {
      top: -700px;
      animation: rain2 10s linear infinite;
      animation-delay: 20s;
      right: 200px;
    }
    &:nth-child(3) {
      top: -500px;
      left: 700px;
      animation: rain3 20s linear infinite;
      animation-delay: 10s;
    }
  }

  @keyframes rain {
    0% {
      top: -800px;
      // opacity: 1;
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      top: 720px; 
      // opacity: 0.5;
    }
  }
  @keyframes rain2 {
    0% {
      top: -400px;
      // opacity: 1;
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      top: 720px;
      // opacity: 0.5;
    }
  }
  @keyframes rain3 {
    0% {
      top: -500px;
      opacity: 1;
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      top: 720px; 
      opacity: 0.5;
    }
  }

  .back-font {
    background: rgb(25, 26, 38);
    width: 1408px;
    height: 100%;
    margin: 0 auto;
    border-radius: 25px;
    @include flexbox(center, center);
    flex-direction: column;
    text-align: center;

    @include respond-to-large {
      max-width: 780px;
      border: 1px solid red;
    }
    @include respond-to-medium {
      max-width: 768px;
      border: 2px solid green;
    }
    @include respond-to-small {
      @include flexbox(center, center);
      flex-direction: column;
      text-align: center;
      max-width: 460px;
      border: 1px solid blue;
    }

    .texts {
      display: grid;
      grid-gap: 64px;
      width: 929px;
      text-align: center;

      @include respond-to-large {
        max-width: 780px;
      }
      @include respond-to-medium {
        max-width: 768px;
      }
      @include respond-to-small {
        max-width: 460px;
      }

      h1 {
        color: rgb(255, 255, 255);
        font-family: Roboto Flex;
        font-size: 60px;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: -1%;
        text-align: center;
        text-transform: uppercase;
        width: 929px;
        height: 216px;
        z-index: 1;

        @include respond-to-large {
          max-width: 780px;
        }
        @include respond-to-medium {
          max-width: 768px;
        }
        @include respond-to-small {
          font-size: 30px;
          max-width: 350px;
          margin: 0 auto;
        }
      }

      p {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: -1%;
        text-align: center;
        width: 657px;
        margin: 0 auto;
        height: 72px;
        z-index: 1;

        @include respond-to-large {
          max-width: 780px;
        }
        @include respond-to-medium {
          max-width: 768px;
        }
        @include respond-to-small {
          font-size: 16px;
          max-width: 350px;
        }
      }

      .container-btn {
        @include flexbox(center, center);
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 99999px;
        background: radial-gradient(
          115% 168% at 50% -52%,
          rgb(243, 109, 255),
          rgb(135, 69, 254) 60.5%,
          rgb(23, 186, 229) 100%
        );
        z-index: 4;
        transition: 0.5s;

        width: 264px;
        height: 66px;
        margin: 0 auto;

        @include respond-to-large {
          max-width: 780px;
        }
        @include respond-to-medium {
          max-width: 768px;
        }
        @include respond-to-small {
          max-width: 460px;
        }
      }

      button {
        box-sizing: border-box;
        background: none;
        border-radius: 99999px;
        width: 254px;
        height: 56px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -1%;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
      }

      button:hover {
        border: 1px solid white;
      }
    }
  }
}
